<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gec.mapper.UserMapper" >

  <insert id="insertUser" parameterType="com.gec.bean.User">
    insert into user(username,password)
    values (#{username},#{password});
  </insert>

  <update id="updateUser" parameterType="com.gec.bean.User">
    update user set username = #{username},password =#{password} where id = #{id};
  </update>

  <update id="deleteUser" parameterType="int">
    delete from user where id = #{a};
  </update>

  <select id = "selectUser" resultType="com.gec.bean.User">
    select * from user;
  </select>

  <!-- 结果集映射 -->
  <resultMap id="UserResultMap" type="com.gec.bean.User">
    <result property="id" column ="id"></result>
    <result property="username" column ="username"></result>
    <result property="realname" column ="realname"></result>
    <result property="password" column ="password"></result>
    <result property="card" column ="idcard"></result>
    <result property="phone" column ="phone"></result>
    <result property="email" column ="email"></result>
    <result property="paypwd" column ="paypwd"></result>
    <result property="status" column ="status"></result>
    <result property="reputation" column ="reputation"></result>
  </resultMap>

  <select id = "selectUserThroughResultMap" resultMap="UserResultMap">
    select * from user;
  </select>

</mapper>